<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="MetaBuilder.UIControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="MetaBuilder.UIControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </sectionGroup>
 </configSections>
	<connectionStrings />
 <loggingConfiguration tracingEnabled="true" defaultCategory="General">
		<logFilters>
			<add
    name="Category"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
    categoryFilterMode="AllowAllExceptDenied">
				<categoryFilters>
					<add name="UI Events" />
          <add name="Troubleshooting" />
				</categoryFilters>
			</add>
			<add
    name="Priority"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
    minimumPriority="0"
     />
			<add name="LogEnabled Filter"
     type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
     enabled="true"
           />


		</logFilters>

		<categorySources>
			<add
       name="Data Access Events"
       switchValue="All">
				<listeners>
					<add name="Flat File Destination" />
				</listeners>
			</add>
			<add
       name="Debug"
       switchValue="All">
				<listeners>
					<add name="Debug Destination" />
				</listeners>
			</add>
			<add
       name="General"
       switchValue="All">
				<listeners>
					<add name="Event Log Destination" />
					<add name="Flat File Destination" />
				</listeners>
			</add>
			<add
       name="Troubleshooting"
       switchValue="All">
				<listeners>
					<add name="Event Log Destination" />
					<add name="Flat File Destination" />
				</listeners>
			</add>
			<add
       name="UI Events"
       switchValue="All">
				<listeners>
					<add name="Flat File Destination" />
				</listeners>
			</add>
			<add
       name="Trace"
       switchValue="All">
				<listeners>
					<add name="Flat File Destination" />
				</listeners>
			</add>
		</categorySources>

		<specialSources>
			<errors name="errors" switchValue="All">
				<listeners>
					<add name="Event Log Destination" />
				</listeners>
			</errors>
		</specialSources>

		<listeners>
			<add name="Event Log Destination"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
    source="Logging Quick Start"
    formatter="Text Formatter"
        machineName="."
    />
			<add name="Flat File Destination"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
    fileName="c:\\trace.log"
    header="----------------header------------------------"
    footer="----------------footer------------------------"
    formatter="Text Formatter"
    />
			<add name="Debug Destination"
    type="ConfigReader.DebugTraceListener, ConfigReader"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        formatter="Text Formatter"
    />
		</listeners>
		<formatters>
			<add
    name="Text Formatter"
    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
    template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Extended Properties: {dictionary({key} : {value}&#xD;&#xA;)}&#xD;&#xA;"









    />

			<!--add
	name="Text Formatter"
	type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
	template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} : {value}
)}"
				/-->
		</formatters>
	</loggingConfiguration>

	<appSettings>
		<add key="ReportFolder" value="D:\development\Code\MetaBuilder\WinUI\Reports\"/>
		
	</appSettings>
 <userSettings>
  <MetaBuilder.UIControls.Properties.Settings>
   <setting name="View_ShowGrid" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="View_SmoothingMode" serializeAs="String">
    <value>HighQuality</value>
   </setting>
   <setting name="View_SnapToGrid" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Paths_Symbols" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\Symbols\</value>
   </setting>
   <setting name="Paths_Stencils" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\Stencils\</value>
   </setting>
   <setting name="Paths_Diagrams" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\Diagrams\</value>
   </setting>
   <setting name="Paths_ArrowHeads" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\ArrowHeads\</value>
   </setting>
   <setting name="Paths_Export" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\Export\</value>
   </setting>
   <setting name="Paths_Debug" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\DebugReports\</value>
   </setting>
   <setting name="Paths_Thumbnails" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\Thumbs\</value>
   </setting>
   <setting name="FormLayout_MetaPropertyGrid" serializeAs="String">
    <value>DockRight</value>
   </setting>
   <setting name="FormLayout_PropertyGrid" serializeAs="String">
    <value>DockLeft</value>
   </setting>
   <setting name="FormLayout_Output" serializeAs="String">
    <value>DockBottom</value>
   </setting>
   <setting name="FormLayout_Stencils" serializeAs="String">
    <value>DockLeft</value>
   </setting>
   <setting name="FormLayout_Navigator" serializeAs="String">
    <value>DockLeft</value>
   </setting>
   <setting name="General_UserFullname" serializeAs="String">
    <value>Deon Fourie</value>
   </setting>
   <setting name="General_UserInitials" serializeAs="String">
    <value>DF</value>
   </setting>
   <setting name="General_Company" serializeAs="String">
    <value>DISCON Specialists</value>
   </setting>
   <setting name="Save_EnableAutosave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Save_DefaultTarget" serializeAs="String">
    <value>DatabaseAndFileSystem</value>
   </setting>
   <setting name="Versioning_AutoCheckoutAllShapes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Versioning_PurgeMinorVersions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Paths_MetaData_SourceFiles" serializeAs="String">
    <value>c:\Program Files\Discon Specialists\MetaBuilder\MetaData\SourceFiles</value>
   </setting>
   <setting name="Save_AutosaveInterval" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Versioning_PurgeMinorVersionsInterval" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="View_CanvasWidth" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="View_CanvasHeight" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="View_GridSize" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="General_NumberOfUndoLevels" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="DB_LocalInstanceConnectionString" serializeAs="String">
    <value>server=.\sqlexpress;Integrated Security=true;database=MetaBuilder;Connection Reset=FALSE</value>
   </setting>
   <setting name="DB_SyncServerConnectionString" serializeAs="String">
    <value>server=.\sqlexpress;Integrated Security=true;database=MetaBuilder;Connection Reset=FALSE</value>
   </setting>
   <setting name="Save_PromptForDocumentPropertiesOnFirstSave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ID" serializeAs="String">
    <value>ID</value>
   </setting>
  </MetaBuilder.UIControls.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <MetaBuilder.UIControls.Properties.Settings>
   <setting name="MetaBuilder_UIControls_RegistrationWS_Service"
    serializeAs="String">
    <value>http://www.metabuilder.co.za/RegistrationWS/Service.asmx</value>
   </setting>
  </MetaBuilder.UIControls.Properties.Settings>
 </applicationSettings>
</configuration>